:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-autostart:cyan;
    --color-maintain:#fa0;
    --color-timeout:#aaf;
    --color-disconnect:#000;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-purple: #8888ff;
    --color-light-green:#3fa;
    --color-blue:#0188ff;
    --color-light-blue:#CFE8FF;
    --color-light-danger: #FECDD3;
    --color-light-warning: #FFF2C6;
    --color-light-success: #BBF7D0;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    display: grid;
    grid-template-rows: auto 1fr;
}
.bi-circle-fill{
    color:#aaa;
}

a{
    color: var(--color-dark);
}

i{
    font-size: 1.2rem;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}
.warning{
    color: var(--color-warning);
}
.alert{
    width: 100%;
    font-size: 1.4rem;
    padding: 0.66rem;
}
.alert.error{
    color: #f27174;
    background-color:#f8d7da;
}
.alert.info{
    background-color:#6affbF;
    color:#04AA6D;
}
.alert.warning{
    background-color:#ffffaa;
    color:#ffaa66;
}